body{
	margin: 0;
}
#header{
	height: 30px;
	background-size: 100% 100%;
	background-color: #999;
	/*background-image: url(../../%E5%9B%BE%E7%89%87/b9473ea7d933c89515265e6bd31373f08202002e.jpg);*/
}
#nav_left_wraper{
	border: 1px solid #666; 
	margin: 2%; 
	position: relative; 
	height: 480px; 
	width: auto; 
	text-align: left;
	position: fixed;
	overflow: hidden;
}
#nav_left{
	/*border: 1px solid #666; 
	margin: 2%; 
	position: relative;*/ 
	height: 480px; 
	width: 108%; 
	text-align: left;
	padding: 5px;
	overflow:scroll;
	/*position: fixed;
	overflow: hidden;*/
}
#nav_left ul{
	position: relative;
	left: -10px;
	list-style: decimal;
}
.content{
	margin:10px;
	padding: 10px;
	border: 1px solid #666;
	height: 150px;
	background-color: #999;
	text-align: left;
}
.content_wrap{
	border: 1px solid #666;
	margin-bottom: 2%; 
	margin-right: 0px; 
	margin-top: 2%; 
	float: left; 
	width: 60%;
}
/*.aside_right{
	width: auto; 
	border: 1px solid #666; 
	margin: 2%; 
	float: left; 
	position: relative; 
	height: 100%;
}*/
#footer{
	clear: left; 
	background-color: #CC0; 
	width: 60%; 
	height: 80px;
	margin: 0 auto;
}
